<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roundmelon.jv.bharatham2k17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_200"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Score2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Fb"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider110276436337394"
            android:exported="true" />

        <activity
            android:name=".Badge"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Selfie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelfieGallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Youtube"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Updates"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chart"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--<activity android:name=".Web"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
    </application>

</manifest>